<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>コメント投稿画面</title>
</head>
<body>
	<form th:method="put" th:action="@{/addComment/{id}(id=${commentModel.id})}" th:object="${commentModel}">

		<table border="1">
			<tr>
				<th>コメント先ID</th>
				<th>コメント内容</th>
			</tr>
			<tr>
				<td th:text="${commentModel.contentId}">
				<td><input type="text" name="comment" th:value="*{comment}" size="20" maxlength="200" />
				</td>
					<input type="hidden" name="contentId" th:value="${commentModel.contentId}"/>
			</tr>
		</table>
		<input type="submit" value="コメント" />
	</form>
	<form action="/">
		<input type="submit" value="戻る" />
	</form>
</body>
</html>