<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th>返信</th>
			<th>削除</th>
			<th>編集</th>
			<th>コメント</th>
			<th>編集</th>
		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
			<td><a th:href="@{/newComment/{id}(id=${content.id})}">
					<button type="button">返信</button>
			</a></td>

			<td>
				<form th:action="@{/delete/{id}(id=${content.id})}"
					th:method="delete">
					<input type="submit" value="削除">
				</form>
			</td>
			<td><a th:href="@{/edit/{id}(id=${content.id})}">
					<button type="button">編集</button>
			</a></td>
			<td>

			<table border="1" th:each="comment : ${comments}">
				<tr th:if="${content.id == comment.contentId}">

					<td th;text="${comment.id}">
					<td th:text="${comment.comment}">

					<td><form th:action="@{/editComment/{id}(id=${comment.id})}">
						<button type="button">編集</button>
					</form></td>

				</tr>
			</table>

			</td>

		</tr>

	</table>
</body>
</html>